body {
	/*background-image: url(images/citrina.jpg);*/
	background-color: lightblue;
	
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: inherit;*/

}

/*why_box - KODEL VERTA RINKTIS */
/**kodel neranda reikiamo elemnto kai bandau pasiekti per .class pvz: div. .why_box ??*/
/*div .col-lg-3 { */
	.why_box {
	border-right: 2px solid red;
	height: 100px;
	text-align: center;
	background-color: lightgreen;
}
.seperator {
	width: 101px;
    height: 2px;
    background: #ffed00; 
    margin: auto;
    /*margin: 20px auto 25px;*/
}



.card-img-top {
	max-width: 235px;
	max-height: 180px;
}


/*nav*/

#nav{
/*	padding-right: 20px;*/
}

/* fist col css */
/*.form-group {
	width: 160px;
	margin-bottom: 5px;
}
.btn {
	width: 160px;
}
#calc {
	
	padding: 0px 0px 0 45px;
}
#first_form_btn {
	margin-top: 10px;
}*/

/* third col css / main content css*/
#main_content {
	text-align: center;
}

/*third col css*/

}

/*Footer css*/
#footer {
	background-color: yellow;
}

/*social box*/



#social_box {
	background-color: yellow;
	border: 1px solid red;
	display: inline-block;


	
}
#social_box {
	position: fixed;
    left: 0;
    top: 400px;
   /*z-index: -1;*/
}

